.root {
	-fx-background-color: #303030;
}

.label {
	-fx-text-fill: #e0e0e0;
}

.scroll-bar {
	-fx-background-color: #303030;
}

.scroll-bar .thumb {
	-fx-background-color: #707070;
}

.border-pane {
	-fx-background-color: #303030;
}

.menu-bar {
	-fx-background-color: #303030;
	-fx-border-width: 0;
}

.menu {
	-fx-background-color: #303030;
	-fx-border-width: 0;
}

.menu:hover {
	-fx-background-color: #707070;
}

.context-menu {
	-fx-background-color: #303030;
	-fx-border-width: 0;
}

.menu-item {
	-fx-background-color: #303030;
	-fx-border-width: 0;
	-fx-background-insets: 0;
}

.menu-item:hover {
	-fx-background-color: #707070;
}

.menu-item:pressed {
	-fx-background-color: #505050;
}

.tree-table-view {
	-fx-background-color: #505050;
	-fx-text-fill: #e0e0e0;
}

.tree-table-view .column-header {
	-fx-border-color: #a0a0a0;
	-fx-border-width: 0 1 0 0;
}

.tree-table-view .filler {
	-fx-background-color: #303030;
}

.tree-table-view > .virtual-flow > .corner {
	-fx-background-color: #303030;
}

.tree-table-column {
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.tree-table-row-cell {
	-fx-background-color: #404040;
}

.tree-table-row-cell:odd {
	-fx-background-color: #505050;
}

.tree-table-row-cell:even {
	-fx-background-color: #585858;
}

.tree-table-row-cell:selected,
.tree-table-row-cell:selected > .eplusviewer-tree-table-name,
.tree-table-row-cell:selected > .eplusviewer-tree-table-check,
.tree-table-row-cell:selected > .eplusviewer-tree-table-raw,
.tree-table-row-cell:selected > .eplusviewer-tree-table-rva,
.tree-table-row-cell:selected > .eplusviewer-tree-table-lma,
.tree-table-row-cell:selected > .eplusviewer-tree-table-offset,
.tree-table-row-cell:selected > .eplusviewer-tree-table-size,
.tree-table-row-cell:selected > .eplusviewer-tree-table-value,
.tree-table-row-cell:selected > .eplusviewer-tree-table-analysis,
.tree-table-row-cell:selected > .eplusviewer-tree-table-notes {
  -fx-background-color: #707070;
}

.tree-table-cell {
	-fx-border-color: #a0a0a0;
	-fx-border-width: 0 1 0 0;
}

.tree-cell .arrow,
.tree-table-row-cell .arrow {
	-fx-background-color: #e0e0e0;
}

.tree-cell:expanded .arrow,
.tree-table-row-cell:expanded .arrow {
	-fx-background-color: #e0e0e0;
}

.eplusviewer-tree-table {
	-fx-background-color: #505050;
	-fx-text-fill: #e0e0e0;
}

.eplusviewer-tree-table-name {
	-fx-alignment: center-left;
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.eplusviewer-tree-table-check {
	-fx-alignment: center;
	-fx-background-color: #303030;
	-fx-text-fill: #bbcbf2;
}

.eplusviewer-tree-table-check-highlight {
	-fx-alignment: center;
	-fx-background-color: #f2bbbb;
}

.eplusviewer-tree-table-raw {
	-fx-alignment: center;
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.eplusviewer-tree-table-rva {
	-fx-alignment: center;
	-fx-background-color: #303030;
	-fx-text-fill: #f2bbbb;
}

.eplusviewer-tree-table-lma {
	-fx-alignment: center;
	-fx-background-color: #303030;
	-fx-text-fill: #a2ebc5;
}

.eplusviewer-tree-table-offset {
	-fx-alignment: center;
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.eplusviewer-tree-table-size {
	-fx-alignment: center;
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.eplusviewer-tree-table-value {
	-fx-alignment: center-right;
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.eplusviewer-tree-table-analysis {
	-fx-alignment: center-left;
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.eplusviewer-tree-table-notes {
	-fx-alignment: center-left;
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.eplusviewer-tree-table-name:odd,
.eplusviewer-tree-table-check:odd,
.eplusviewer-tree-table-raw:odd,
.eplusviewer-tree-table-rva:odd,
.eplusviewer-tree-table-lma:odd,
.eplusviewer-tree-table-offset:odd,
.eplusviewer-tree-table-size:odd,
.eplusviewer-tree-table-value:odd,
.eplusviewer-tree-table-analysis:odd,
.eplusviewer-tree-table-notes:odd {
	-fx-background-color: #505050;
}

.eplusviewer-tree-table-name:even,
.eplusviewer-tree-table-check:even,
.eplusviewer-tree-table-raw:even,
.eplusviewer-tree-table-rva:even,
.eplusviewer-tree-table-lma:even,
.eplusviewer-tree-table-offset:even,
.eplusviewer-tree-table-size:even,
.eplusviewer-tree-table-value:even,
.eplusviewer-tree-table-analysis:even,
.eplusviewer-tree-table-notes:even {
	-fx-background-color: #585858;
}

.split-pane {
	-fx-background-color: #303030;
}

.split-pane-divider {
	-fx-background-color: #707070;
}

.table-view {
	-fx-background-color: #505050;
}

.table-view .column-header {
	-fx-border-color: #a0a0a0;
	-fx-border-width: 0 1 0 0;
}

.table-view .filler {
	-fx-background-color: #303030;
}

.table-row-cell {
	-fx-background-color: #404040;
}

.table-row-cell:odd {
	-fx-background-color: #505050;
}

.table-row-cell:even {
	-fx-background-color: #585858;
}

.table-row-cell:selected,
.table-row-cell:selected > .bin-table-cell {
  -fx-background-color: #707070;
}

.table-cell {
	-fx-border-color: #a0a0a0;
	-fx-border-width: 0 1 0 0;
}

.bin-table-lineno {
	-fx-alignment: center-right;
	-fx-background-color: #303030;
	-fx-text-fill: #c4dfff;
}

.bin-table-space {
	-fx-alignment: center;
	-fx-background-color: #303030;
	-fx-border-width: 0;
}

.bin-table-cell {
	-fx-alignment: center;
	-fx-background-color: #303030;
	-fx-text-fill: #e0e0e0;
}

.bin-table-cell-highlight {
	-fx-alignment: center;
	-fx-background-color: #ccdaff;
}

.bin-table-cell-change {
	-fx-alignment: center;
	-fx-text-fill: #f2bbbb;
}

.bin-table-cell-highlight-change {
	-fx-alignment: center;
	-fx-text-fill: #f2bbbb;
	-fx-background-color: #ccdaff;
}

.bin-table-cell:odd {
	-fx-background-color: #505050;
}

.bin-table-cell:even {
	-fx-background-color: #585858;
}

.vbox {
	-fx-background-color: #303030;
}

.eplusviewer-toolbar {
	-fx-background-color: #303030;
}

.button {
	-fx-background-color: #404040;
	-fx-text-fill: #e0e0e0;
}

.button:hover {
	-fx-background-color: #707070;
}

.button:pressed {
	-fx-background-color: #505050;
}

.text-area {
	-fx-background-color: #303030;
	-fx-text-fill: #f2bbbb;
}

.text-area .content {
	-fx-background-color: #505050;
	-fx-text-fill: #f2bbbb;
}

.console {
	-fx-background-color: #303030;
	-fx-text-fill: #f2bbbb;
}
